.options_container {
    display:flex;
    flex-direction:row;
    height:100vh;
    width:100vw;

    .options_title {
        display:inline-block;
        width:100%;
        text-align:center;
        height:auto;
        margin-top:50vh;
    }
}

.home_title {
    text-align:center;
    position:absolute;
    margin-top:10%;
    margin-left:25%;
}

.options_box {
    height:100%;
    width:50%;
    background-color:$yellow;

    .selected {
        width:100%!important;
    }
}

.decade {
    height:100%;
    width:20%;
    display:block;
    background-color:$purple;
}

.mediatype {
    height:100%;
    width:33.33%;
    display:block;
}

.options_box:first-child {
    background-color:$purple;
}

.password_container {
   text-align:center;
   display:none; 
   /*display:flex;*/
   flex-direction:row;
   width:100%;
   height:auto;
   justify-content:center;
   align-items:center;
   margin-top:-8vh;

   h3 {
       font-family:$main-font;
       font-weight:100;
       width:100%;
       margin-bottom:3vh;
   }
   form {
       margin:auto;
       width:40%;
   }
   input {
       width:50%;
       height:5vh;
   }
   button {
       margin:15%;
       width:20%;
       height:3vh;
       margin-top:2vh;
   }
}

#Movies {
    background-color:$purple;
}

#TV {
    background-color:$blue;
}

#Music {
    background-color:$yellow;
}

.items_container {
    height:100vh;
    width:100vw;
    text-align:center;

    h3 {
        padding-top:50vh;
    }
}

.thumb_container {
    margin: auto;
    display: block;
    position:relative;
    background-color:$black;
    width:15%;
    height:20%;
}

.thumb {
    width:100%;
    height:100%;
}

.info {
    position:absolute;
    display:none;
    top:0;
    left:0;
    width:100%;
    height:100%;
    background-color:white;
    opacity:0.8;
}