body {
    margin:0;
    padding:0;
    position:fixed;
    width:100vw;
    height:100vh;
    font-family:$main-font;
    font-size:$main-font-size;
    color:$black;
}

#app {
    height: 100vh;
    width:100vw;
}
h1 {
    font-size: $title-font-size;
    font-family: $title-font;
}

h2 {
    font-size: $subtitle-font-size;
    font-family: $title-font;
}

.fa {
    font-size:$icon-font-size!important;
    color:$black!important;
}

/* font families */

@font-face {
    font-family: 'LEMON MILK';
    src: url('../fonts/LemonMilk.ttf');
    src: url('../fonts/LemonMilk.ttf') format('truetype');
    font-style: normal;
}

@font-face {
    font-family: 'HelveticaNeue';
    src: url('../fonts/HelveticaNeue.ttf');
    src: url('../fonts/HelveticaNeue.ttf') format('truetype');
    font-style: normal;
}