.hidden {
    display:none!important;
}

.full {
    display:block!important;
    width:100%!important;
}       .form-container {
    margin-top:4vh;
    width:30%;
    form {
        display:flex;
        flex-direction:column;
        flex-wrap:nowrap;
        input {
            padding:10%;
            padding-top:4%;
            padding-bottom:4%;
            border:none;
            border-radius:$border-radius;
            margin-bottom:2%;
            font-family:$main-font;
            font-weight:800;
            text-align:center;
            font-size:$desktop-main-font-size;
        }

       
    }

}

                
::placeholder {
    opacity:0.6;
}

button {
    padding:10%;
    padding-top:4%;
    padding-bottom:4%;
    width:60%;
    margin:auto;
    border-radius:$border-radius;
    border:none;
    font-family:$main-font;
    font-size:$desktop-main-font-size;
    background-color:$yellow;
    transition:$transition;
    cursor:pointer;
}

button:hover {
    background-color:$darkyellow;
    border:none;
}

.loading {
    width:100%;
    height:100%;
    position:fixed;
    z-index:99999999;
    background-color:rgba(14, 17, 17, 0.6);
    display:flex;
    flex-direction:column;
    align-items:center;
    justify-content:space-evenly;
    font-size:60px;
    text-align:center;
    color:$white;
    font-weight:600;
    display:none;

    
    .fas {
        font-size: 40px;
        color:$white;
    }
}

.error {
    position:relative;
    width:100%;
    text-align:center;
    font-size:$desktop-main-font-size;
    color:$white;
    display:none;
}


::-webkit-scrollbar {
    width: 14px;               /* width of the entire scrollbar */
  }
  
  ::-webkit-scrollbar-track {
    background-color:$darkblue;
    border-radius:10px;
  }
  
  ::-webkit-scrollbar-thumb {
    background-color:$white;
    border: 4px solid transparent;
    border-radius:10px;
    background-clip: padding-box;  
    height:6px;
  }

  ::-webkit-scrollbar-corner {
    background-color: transparent;
}


.fade-enter-active, .fade-leave-active {
    transition: opacity .5s;
  }
  .fade-enter-to, .fade-leave {
      opacity:1;
  }
  .fade-enter, .fade-leave-to /* .fade-leave-active below version 2.1.8 */ {
    opacity: 0;
  }