$purple: #ad54cc;
$blue: #00c4fa;
$yellow: #ffd800;
$red: #ff2830;
$black: #0e1111;
$white: #f9f9f9;

$main-font: 'Helvetica', 'arial', sans-serif;
$title-font: 'MOON GET!', sans-serif;
$main-font-size: 1.2vw;
$title-font-size: 4vw;
$subtitle-font-size:3vw;
$icon-font-size:2vw;